$color-black: #363a35;
$color-darkGold: #7a776d;
$color-darkGray: #868684;
$color-darkOrange: #c14804;
$color-gray: #c8c8c8;
$color-lightGold: #d1b129;
$color-lightOrange: #f37021;
$color-lightYellow: #f8f6ed;
$color-red: #b74343;
$color-specialSectionGray: #4f4b43;
$color-specialSectionYellow: #f5dead;
$color-textWhite: #ffffff;
$color-yellow: #cabd8a;
$color-bgWhite: #fbfbf6;
$font-title: 'DM Serif Display', serif;
$font-sansSerif: 'DM Sans', system-ui, sans-serif;
$font-serifText: 'DM Serif Text', serif;
$font-serif: 'DM Mono', monospace;

$layout-root-font-size-min: 1rem;
$layout-root-font-size-scaled: var(--layout-root-font-size, 1rem);
