$color-black: #363a35;
$color-darkGold: #7a776d;
$color-darkGray: #615f58;
$color-darkOrange: #c14804;
$color-gray: #c8c8c8;
$color-lightGold: #d1b129;
$color-lightOrange: #f37021;
$color-lightYellow: #f8f6ed;
$color-red: #b74343;
$color-specialSectionGray: #4f4b43;
$color-specialSectionYellow: #f5dead;
$color-textWhite: #ffffff;
$color-yellow: #cabd8a;
$color-bgWhite: #fbfbf6;
$font-title: 'Noto Serif';
$font-sansSerif: 'Noto Sans TC';
$font-serif: 'Source Code Pro';
