$color-black: #363a35;
$color-gray: #aaaaaa;

$color-red: #b74343;
$color-yellow: #cabd8a;
$color-darkGold: #7a776d;
$color-lightGold: #d1b129;
$color-bgWhite: #fbfbf6;
$color-textWhite: #ffffff;
$font-serif: 'GenYoMin TW';
$font-sansSerif: 'Source Sans 3';
$color-lightOrange: #f37021;
$color-darkOrange: #c14804;
$color-specialSectionYellow: #f5dead;
$color-specialSectionGray: #4f4b43;
$color-lightYellow: #f8f6ed;
@mixin flex($flexDirection, $justifyContent, $alignItems, $gap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-sansSerif;
  color: $color-black;
  box-sizing: border-box;
}
body {
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: $color-darkGold;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* 標題樣式 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  .highlight {
    color: $color-darkOrange;
    font-weight: bold;
  }
}
ol {
  padding-left: 24px;

  li {
    line-height: 1.5;
    padding-left: 4px;
  }
}
h1 {
  line-height: 120%;
  font-size: 88px;
  @media (max-width: 1000px) {
    font-size: 72px;
  }
  @media (max-width: 480px) {
    font-size: 56px;
  }
}
h2 {
  line-height: 48px;
  font-size: 40px;
}
h3 {
  line-height: 40px;
  font-size: 32px;
  @media (max-width: 1000px) {
    font-size: 28px;
  }
}
h4 {
  line-height: 32px;
  font-size: 28px;
  @media (max-width: 1000px) {
    font-size: 24px;
  }
}
h5 {
  line-height: 32px;
  font-size: 24px;
}
h6 {
  line-height: 24px;
  font-size: 20px;
}
h5,
h6 {
  font-weight: normal;
}
p,
li {
  font-size: 18px;
  line-height: 24px;
  @media (max-width: 480px) {
    font-size: 16px;
  }
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.section {
  width: 100vw;
  padding-left: 120px;
  border-bottom: $color-black solid 2px;
  background-color: $color-bgWhite;
  z-index: 2;
  .container--content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 64px;
    //border-left: $color-black solid 2px;
  }

  @media (max-width: 800px) {
    padding-left: 88px;
    .container--content {
      padding: 32px;
    }
  }

  @media (max-width: 480px) {
    padding-left: 0;
    .container--content {
      padding: 24px 16px;
      border-left: none;
    }
  }
}
.block__translator {
  z-index: 10;
  cursor: pointer;
  background-color: $color-bgWhite;
  position: fixed;
  right: 48px;
  bottom: 48px;
  border: $color-black 2px solid;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  a {
    text-decoration: none;
    p {
      padding: 8px 20px;
    }
  }
  @media (max-width: 480px) {
    right: 16px;
    bottom: 24px;
  }
}
.block__translator:hover {
  background-color: $color-yellow;
  p {
    color: $color-textWhite;
  }
}
.section--header {
  position: relative;
  min-height: fit-content;

  .container--content {
    @include flex(row, flex-start, flex-end, 32px);
    padding-bottom: 48px;
    padding-top: 48px;
    //min-height: fit-content;
    .container--title {
      z-index: 2;
      width: 100%;
      .module__tags {
        @include flex(row, flex-start, center, 8px);
        margin-bottom: 16px;
        .module__tag {
          padding: 2px 16px;
          color: $color-textWhite;
          background-color: $color-yellow;
          width: fit-content;
          border-radius: 100px;
        }
      }
      .module__title {
        font-weight: 500;
        margin-bottom: 32px;
        font-size: 48px;
        line-height: 56px;
      }
      .module__metaData {
        @include flex(row, space-between, flex-start, 24px);
        .module__data {
          @include flex(column, flex-start, flex-start, 8px);
          .module__dataTitle {
            font-weight: bold;
            color: $color-darkOrange;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    //height: fit-content;
    // min-height: 100dvh;
    .container--content {
      padding-top: 88px;
      padding-bottom: 24px;
      //min-height: 100dvh;
      @include flex(column, flex-end, flex-end, 48px);
      .container--title {
        .module__title {
          font-weight: 500;
          margin-bottom: 32px;
          font-size: 40px;
          line-height: 120%;
        }
        .module__metaData {
          @include flex(column, space-between, flex-start, 8px);
          .module__data {
            width: 100%;
            @include flex(row, space-between, flex-start, 16px);
            .module__dataDescription {
              text-align: right;
            }
          }
          .module__line {
            display: none;
          }
        }
      }
    }
  }
}

.section--introduction {
  box-sizing: border-box;
  .container--content {
    @include flex(column, center, center, 24px);
    .block__intro {
      border: $color-black solid 2px;
      padding: 24px;
      background-color: $color-lightYellow;
      width: 100%;
      .block--title {
        margin-bottom: 16px;
        color: $color-darkGold;
      }
    }
    .block__top {
      @include flex(row, center, stretch, 24px);
      .block__img {
        flex: 1;
        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .block__topRight {
        flex: 1;
        @include flex(column, center, stretch, 24px);
        .block__intro {
          height: 100%;
        }
      }
    }
    .block__bottom {
      @include flex(row, center, stretch, 24px);
      width: 100%;
    }
  }
  @media (max-width: 800px) {
    .container--content {
      .block__top {
        @include flex(column, center, stretch, 24px);
      }
      .block__bottom {
        @include flex(column, center, stretch, 24px);
      }
    }
  }
}
.section--content {
  [data-zoom-image]:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .container--content {
    padding: 128px 20%;
    @include flex(column, center, center, 160px);
  }
  .container--contentSection {
    position: relative;
    @include flex(column, center, stretch, 32px);
    width: 100%;
    .module__bgTitle {
      .module__bgText {
        font-weight: normal;
        color: $color-black;
        text-align: left;
        margin-bottom: 16px;
      }
      .module__line {
        width: 100%;
        height: 2px;
        background-color: $color-black;
      }
    }
    .module__mdTitle {
      .module__mdText {
        font-weight: bold;
        color: $color-darkOrange;
      }
    }
    .module__pureTitle {
      font-weight: bold;
      h6 {
        font-weight: bold;
        color: $color-black;
      }
    }
    .module__pureText {
      @include flex(column, center, flex-start, 16px);
      .module__bullet {
        @include flex(column, center, flex-start, 8px);
        padding-left: 24px;
      }
      .module__button {
        width: fit-content;
        padding: 8px 12px;
        background-color: $color-red;
        a {
          text-decoration: none;
          p {
            color: $color-textWhite;
            text-overflow: ellipsis;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $color-yellow;
        }
      }
    }
    .module__singleImage {
      img {
        width: 100%;
      }
    }
    .module__doubleImage {
      @include flex(row, center, flex-start, 32px);
      img {
        max-width: calc(50% - 16px);
      }
    }
    .module__quote {
      width: 100%;
      p {
        padding: 8px 16px;
        font-weight: bold;
        background-color: rgba($color-lightGold, 0.2);
        border-bottom: $color-lightGold solid 4px;
        border-radius: 2px;
      }
    }
    .module__callOut {
      @include flex(column, center, flex-start, 8px);
      padding: 12px 16px;
      border: $color-darkGold 2px solid;
      border-radius: 4px;
      width: 100%;
      .module__title {
        color: $color-black;
        font-weight: bold;
      }
      .module__text {
      }
    }
    .module__bgQuote {
      @include flex(row, flex-start, center, 16px);
      h3 {
        padding: 32px 0px;
      }
      img {
        width: 200px;
      }
      .module__callOutList {
        padding-left: 8px;
        @include flex(column, flex-start, center, 16px);
      }
    }
    .module__smQuote {
      @include flex(row, flex-start, center, 16px);
      img {
        width: 200px;
      }
      h6 {
        font-weight: bold;
      }
    }
    .module__verticalIconList {
      @include flex(column, center, flex-start, 24px);
      .module__verticalIcon {
        @include flex(row, flex-start, center, 16px);
        img {
          width: 200px;
        }
        .module__content {
          @include flex(column, center, flex-start, 16px);
          width: 100%;
          &--title {
            font-weight: bold;
          }
          &--content {
          }
        }
      }
    }
    .module__imgAndContentBlock {
      @include flex(row, flex-start, flex-start, 24px);
      img {
        width: calc(40% - 24px);
      }
      .module__content {
        @include flex(column, center, flex-start, 16px);
        flex: 1;
        &--title {
          font-weight: bold;
        }
        &--content {
        }
      }
    }
    .module__horizontalIconList {
      width: 900px;
      @include flex(row, center, flex-start, 48px);
      .module__horizontalIcon {
        @include flex(column, flex-start, center, 16px);
        img {
          width: 200px;
        }
        .module__content {
          @include flex(column, center, flex-start, 16px);
          &--title {
            font-weight: bold;
            text-align: center;
            width: 100%;
          }
          &--content {
            text-align: center;
          }
        }
      }
    }
    .module__article {
      @include flex(row, flex-start, stretch, 16px);
      margin-bottom: 16px;
      img {
        width: 150px;
      }
      .module__content {
        @include flex(column, flex-start, flex-start, 16px);
        max-height: 160px;
        h6 {
          font-weight: bold;
          max-height: 28px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* 顯示行數限制為3行 */
          -webkit-box-orient: vertical;
          white-space: normal;
        }
        p {
          max-height: 66px;
          flex-grow: 1;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* 顯示行數限制為3行 */
          -webkit-box-orient: vertical;
          white-space: normal;
        }
        .module__button {
          width: fit-content;
          padding: 4px 8px;
          background-color: $color-red;
          a {
            text-decoration: none;
            p {
              color: $color-textWhite;
              text-overflow: ellipsis;
            }
          }

          &:hover {
            cursor: pointer;
            background-color: $color-yellow;
          }
        }
      }
    }
  }
  .specialSection {
    align-items: center;
    &--gray {
      padding: 48px 160px;
      background-color: $color-specialSectionGray;
      h3,
      p {
        color: white !important;
      }
      .module__line {
        background-color: white !important;
      }
    }
    &--yellow {
      padding: 48px 160px;
      background-color: $color-specialSectionYellow;
    }
    width: 100vw;
    .module__bgTitle {
      width: 30%;
      padding-bottom: 16px;
      .module__bgText {
        text-align: center;
      }
    }
    .module__horizontalIconList {
      width: 100%;
      .module__horizontalIcon {
        flex: 1;
        img {
          border-radius: 200px;
          background-color: $color-bgWhite;
          margin-bottom: 8px;
        }
      }
    }
    &--narrow {
      padding: 48px 336px;
      .module__bgTitle {
        width: 100%;
        padding-bottom: 16px;
        .module__bgText {
          text-align: left;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .container--content {
      padding: 80px 32px 64px 32px;
    }
    .container--contentSection {
      .module__sideTitle {
        //left: -60px;
        left: 0;
        top: -40px;
        padding: 0;
        width: auto;
        border: none;
        .module__sideText {
          text-align: left;
        }
      }
      .module__doubleImage {
        @include flex(column, center, flex-start, 32px);
        img {
          max-width: 100%;
        }
      }
      .module__horizontalIconList {
        @include flex(column, center, center, 48px);
      }
      .module__imgAndContentBlock {
        @include flex(column, flex-start, flex-start, 24px);
        img {
          width: 100%;
        }
      }
    }
    .specialSection {
      align-items: center;
      padding: 48px 72px;
      .module__bgTitle {
        width: 100%;
      }
    }
  }
  @media (max-width: 480px) {
    .container--content {
      padding: 80px 16px 64px 16px;
    }
    .container--contentSection {
      .module__verticalIconList {
        .module__verticalIcon {
          @include flex(column, flex-start, center, 16px);

          .module__content {
            &--title {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
      .module__bgQuote {
        @include flex(column, flex-start, center, 16px);
        h3 {
          text-align: center;
        }
        .module__callOutList {
          padding: 0;
          padding-top: 8px;
        }
      }
      .module__smQuote {
        h6 {
          text-align: center;
          width: 100%;
        }
        @include flex(column, flex-start, center, 16px);
      }
      .module__article {
        img {
          display: none;
        }
        .module__content {
        }
      }
    }
    .specialSection {
      padding: 48px 16px;
      .module__bgTitle {
        width: 100%;
      }
    }
  }
}
/* 導航樣式 */
.nav--main {
  position: fixed;
  z-index: 850;
  left: 0;
  top: 0;
  height: 100dvh;
  padding: 40px 40px;
  background-color: $color-bgWhite;
  border-right: $color-black solid 2px;
  @include flex(column, space-between, flex-start, 0px);
  &:hover {
    .block--tocList {
      max-width: 500px;
    }
  }
  .block--navList {
    @include flex(column, center, center, 16px);
    width: 40px;
  }
  .block--tocList {
    @include flex(column, center, flex-start, 16px);
    max-width: 8px;
    margin-left: 16px;
    transition: max-width 0.25s;
    overflow: hidden;
    .toc {
      @include flex(row, flex-start, center, 16px);
      text-decoration: none;
      &--dot {
        min-width: 8px;
        min-height: 8px;
        border-radius: 4px;
        background-color: $color-gray;
      }
      &--content {
        white-space: nowrap;
        color: $color-darkGold;
      }
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      &--focus {
        .toc--dot {
          background-color: $color-red;
        }
        .toc--content {
          color: $color-red;
          font-weight: bold;
        }
      }
    }
  }
  .block__navItem {
    a {
      text-decoration: none;
      font-family: $font-sansSerif;
      cursor: pointer;
    }
  }

  @media (max-width: 800px) {
    padding: 40px 16px;
  }

  @media (max-width: 480px) {
    @include flex(row, space-between, center, 0px);
    padding: 16px;
    height: 56px;
    width: 100vw;
    top: 0;
    background-color: $color-bgWhite;
    border-right: none;
    border-bottom: $color-black solid 2px;

    .block--navList {
      @include flex(row, center, center, 16px);
    }

    .block__navItem {
      margin-bottom: 0;
    }
    .block--tocList {
      display: none;
    }
  }
}

/* 背景動畫 */
.canvas-wrapper {
  position: absolute;
  top: 48;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px); /* 毛玻璃效果 */
  z-index: 1;
  pointer-events: none; /* 讓這層不影響互動 */
}
