@charset "UTF-8";
h1 .highlight,
h2 .highlight,
h3 .highlight,
h4 .highlight,
h5 .highlight,
h6 .highlight,
p .highlight {
  color: #c14804;
  font-weight: bold;
}

p,
li {
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 768px) {
  p,
  li {
    font-size: 16px;
    line-height: 26px;
  }
}

ol {
  padding-left: 24px;
}
ol li {
  padding-left: 4px;
}

h1 {
  font-size: 120px;
  line-height: 1;
}
@media (max-width: 1000px) {
  h1 {
    font-size: 72px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 44px;
  line-height: 1.2;
}
@media (max-width: 1000px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 36px;
  line-height: 1.2;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 28px;
  line-height: 1.4;
}
@media (max-width: 1000px) {
  h4 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 22px;
  line-height: 1.4;
  font-weight: normal;
}
@media (max-width: 480px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: normal;
}
@media (max-width: 480px) {
  h6 {
    font-size: 18px;
  }
}

.section--header {
  position: relative;
  min-height: fit-content;
}
.section--header .container--content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 32px;
  padding: 0 !important;
}
.section--header .container--content .container--title {
  padding-top: 64px;
  z-index: 2;
  width: 100%;
}
.section--header .container--content .container--title .module__tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding-right: 48px;
  padding-left: 48px;
  margin-bottom: 16px;
}
.section--header .container--content .container--title .module__tags .module__tag {
  padding: 2px 16px;
  background-color: #cabd8a;
  width: fit-content;
  border-radius: 100px;
}
.section--header .container--content .container--title .module__tags .module__tag p {
  color: #ffffff;
}
.section--header .container--content .container--title .module__title {
  padding-right: 48px;
  padding-left: 48px;
  font-weight: 500;
  margin-bottom: 32px;
  font-size: 48px;
  line-height: 56px;
}
.section--header .container--content .container--title .module__metaData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0px;
  border-top: #363a35 2px solid;
}
.section--header .container--content .container--title .module__metaData .module__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  transition-duration: 0.5s;
  padding: 24px;
  flex: 1;
  border-right: #363a35 2px solid;
}
.section--header .container--content .container--title .module__metaData .module__data:last-child {
  border-right: none;
  padding-right: 48px;
}
.section--header .container--content .container--title .module__metaData .module__data:first-child {
  padding-left: 48px;
}
.section--header .container--content .container--title .module__metaData .module__data .module__dataTitle {
  font-weight: 600;
  color: #c14804;
}
@media (max-width: 768px) {
  .section--header .container--content {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 48px;
  }
  .section--header .container--content .container--title {
    padding-top: 88px;
  }
  .section--header .container--content .container--title .module__tags {
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 8px;
  }
  .section--header .container--content .container--title .module__tags .module__tag {
    padding: 2px 12px;
  }
  .section--header .container--content .container--title .module__title {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 120%;
    padding-right: 16px;
    padding-left: 16px;
  }
  .section--header .container--content .container--title .module__metaData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0px;
    border-top: 0px;
  }
  .section--header .container--content .container--title .module__metaData .module__data {
    padding: 24px 16px 0px 16px;
    border-right: none;
  }
  .section--header .container--content .container--title .module__metaData .module__data:first-child {
    padding-left: 16px;
  }
  .section--header .container--content .container--title .module__metaData .module__data:last-child {
    border-right: none;
    padding-right: 16px;
    padding-bottom: 24px;
  }
}

.section--introduction {
  box-sizing: border-box;
}
.section--introduction .container--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.section--introduction .container--content .block__intro {
  border: #363a35 solid 2px;
  padding: 24px;
  background-color: #f8f6ed;
  width: 100%;
}
.section--introduction .container--content .block__intro .block--title {
  margin-bottom: 16px;
  color: #7a776d;
}
.section--introduction .container--content .block__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
}
.section--introduction .container--content .block__top .block__img {
  flex: 1;
}
.section--introduction .container--content .block__top .block__img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section--introduction .container--content .block__top .block__topRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
}
.section--introduction .container--content .block__top .block__topRight .block__intro {
  height: 100%;
}
.section--introduction .container--content .block__bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  width: 100%;
}
@media (max-width: 800px) {
  .section--introduction {
    border: 0 !important;
  }
  .section--introduction .container--content .block__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
  }
  .section--introduction .container--content .block__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
  }
}

.nav--main {
  position: fixed;
  z-index: 850;
  left: 0;
  top: 0;
  height: 100dvh;
  padding: 40px 40px;
  background-color: #fbfbf6;
  border-right: #363a35 solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
}
.nav--main:hover .block--tocList {
  max-width: 500px;
}
.nav--main .block--navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 40px;
}
.nav--main .block--tocList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  max-width: 8px;
  margin-left: 16px;
  transition: max-width 0.25s;
  overflow: hidden;
}
.nav--main .block--tocList .toc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}
.nav--main .block--tocList .toc--dot {
  min-width: 8px;
  min-height: 8px;
  border-radius: 4px;
  background-color: #c8c8c8;
}
.nav--main .block--tocList .toc--content {
  white-space: nowrap;
  color: #7a776d;
}
.nav--main .block--tocList .toc:hover {
  opacity: 0.5;
  cursor: pointer;
}
.nav--main .block--tocList .toc--focus .toc--dot {
  background-color: #b74343;
}
.nav--main .block--tocList .toc--focus .toc--content {
  color: #b74343;
  font-weight: bold;
}
.nav--main .block__navItem a {
  text-decoration: none;
  font-family: "Source Sans 3";
  cursor: pointer;
}
@media (max-width: 800px) {
  .nav--main {
    padding: 40px 16px;
  }
}
@media (max-width: 480px) {
  .nav--main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    padding: 16px;
    height: 56px;
    width: 100vw;
    top: 0;
    background-color: #fbfbf6;
    border-right: none;
    border-bottom: #363a35 solid 2px;
  }
  .nav--main .block--navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .nav--main .block__navItem {
    margin-bottom: 0;
  }
  .nav--main .block--tocList {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3";
  color: #363a35;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #7a776d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.section {
  width: 100vw;
  padding-left: 120px;
  border-bottom: #363a35 solid 2px;
  background-color: #fbfbf6;
  z-index: 2;
}
.section .container--content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 64px;
}
@media (max-width: 800px) {
  .section {
    padding-left: 72px;
  }
  .section .container--content {
    padding: 32px;
  }
}
@media (max-width: 480px) {
  .section {
    padding-left: 0;
  }
  .section .container--content {
    padding: 24px 16px;
    border-left: none;
  }
}

.block__translator {
  z-index: 10;
  cursor: pointer;
  background-color: #b74343;
  position: fixed;
  right: 48px;
  top: 48px;
  border: #363a35 2px solid;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.block__translator a {
  text-decoration: none;
}
.block__translator a p {
  padding: 8px 16px;
  color: #ffffff;
}
@media (max-width: 480px) {
  .block__translator {
    top: auto;
    right: 24px;
    bottom: 24px;
  }
}

.block__translator:hover {
  background-color: #cabd8a;
}
.block__translator:hover p {
  color: #ffffff;
}

.section--content [data-zoom-image]:hover {
  transform: scale(1.02);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.section--content .container--content {
  padding: 128px 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 160px;
}
.section--content .container--contentSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 32px;
  width: 100%;
}
.section--content .container--contentSection .module__bgTitle .module__bgText {
  font-weight: normal;
  color: #363a35;
  text-align: left;
  margin-bottom: 16px;
}
.section--content .container--contentSection .module__bgTitle .module__line {
  width: 100%;
  height: 2px;
  background-color: #363a35;
}
.section--content .container--contentSection .module__mdTitle .module__mdText {
  font-weight: bold;
  color: #c14804;
}
.section--content .container--contentSection .module__pureTitle {
  font-weight: bold;
}
.section--content .container--contentSection .module__pureTitle h6 {
  font-weight: bold;
  color: #363a35;
}
.section--content .container--contentSection .module__pureText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.section--content .container--contentSection .module__pureText .module__bullet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding-left: 24px;
}
.section--content .container--contentSection .module__pureText .module__button {
  width: fit-content;
  padding: 8px 12px;
  background-color: #b74343;
}
.section--content .container--contentSection .module__pureText .module__button a {
  text-decoration: none;
}
.section--content .container--contentSection .module__pureText .module__button a p {
  color: #ffffff;
  text-overflow: ellipsis;
}
.section--content .container--contentSection .module__pureText .module__button:hover {
  cursor: pointer;
  background-color: #cabd8a;
}
.section--content .container--contentSection .module__singleImage img {
  width: 100%;
}
.section--content .container--contentSection .module__doubleImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.section--content .container--contentSection .module__doubleImage img {
  max-width: calc(50% - 16px);
}
.section--content .container--contentSection .module__quote {
  width: 100%;
}
.section--content .container--contentSection .module__quote p {
  padding: 8px 16px;
  font-weight: bold;
  background-color: rgba(209, 177, 41, 0.2);
  border-bottom: #d1b129 solid 4px;
  border-radius: 2px;
}
.section--content .container--contentSection .module__quote .warning {
  background-color: rgba(183, 67, 67, 0.2);
  border-bottom: #b74343 solid 4px;
}
.section--content .container--contentSection .module__callOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 12px 16px;
  border: #7a776d 2px solid;
  border-radius: 4px;
  width: 100%;
}
.section--content .container--contentSection .module__callOut .module__title {
  color: #363a35;
  font-weight: bold;
}
.section--content .container--contentSection .module__bgQuote {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.section--content .container--contentSection .module__bgQuote h3 {
  padding: 32px 0px;
}
.section--content .container--contentSection .module__bgQuote img {
  width: 200px;
}
.section--content .container--contentSection .module__bgQuote .module__callOutList {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.section--content .container--contentSection .module__smQuote {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.section--content .container--contentSection .module__smQuote img {
  width: 200px;
}
.section--content .container--contentSection .module__smQuote h6 {
  font-weight: bold;
}
.section--content .container--contentSection .module__verticalIconList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.section--content .container--contentSection .module__verticalIconList .module__verticalIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.section--content .container--contentSection .module__verticalIconList .module__verticalIcon img {
  width: 200px;
}
.section--content .container--contentSection .module__verticalIconList .module__verticalIcon .module__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}
.section--content .container--contentSection .module__verticalIconList .module__verticalIcon .module__content--title {
  font-weight: bold;
}
.section--content .container--contentSection .module__imgAndContentBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.section--content .container--contentSection .module__imgAndContentBlock img {
  width: calc(40% - 24px);
}
.section--content .container--contentSection .module__imgAndContentBlock .module__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
}
.section--content .container--contentSection .module__imgAndContentBlock .module__content--title {
  font-weight: bold;
}
.section--content .container--contentSection .module__horizontalIconList {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
.section--content .container--contentSection .module__horizontalIconList .module__horizontalIcon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.section--content .container--contentSection .module__horizontalIconList .module__horizontalIcon img {
  width: 200px;
}
.section--content .container--contentSection .module__horizontalIconList .module__horizontalIcon .module__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.section--content .container--contentSection .module__horizontalIconList .module__horizontalIcon .module__content--title {
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.section--content .container--contentSection .module__horizontalIconList .module__horizontalIcon .module__content--content {
  text-align: center;
}
.section--content .container--contentSection .module__article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  margin-bottom: 16px;
}
.section--content .container--contentSection .module__article img {
  width: 150px;
}
.section--content .container--contentSection .module__article .module__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  max-height: 160px;
}
.section--content .container--contentSection .module__article .module__content h6 {
  font-weight: bold;
  max-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 顯示行數限制為3行 */
  -webkit-box-orient: vertical;
  white-space: normal;
}
.section--content .container--contentSection .module__article .module__content p {
  max-height: 66px;
  flex-grow: 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 顯示行數限制為3行 */
  -webkit-box-orient: vertical;
  white-space: normal;
}
.section--content .container--contentSection .module__article .module__content .module__button {
  width: fit-content;
  padding: 4px 8px;
  background-color: #b74343;
}
.section--content .container--contentSection .module__article .module__content .module__button a {
  text-decoration: none;
}
.section--content .container--contentSection .module__article .module__content .module__button a p {
  color: #ffffff;
  text-overflow: ellipsis;
}
.section--content .container--contentSection .module__article .module__content .module__button:hover {
  cursor: pointer;
  background-color: #cabd8a;
}
.section--content .specialSection {
  align-items: center;
  width: 100vw;
}
.section--content .specialSection--gray {
  padding: 48px 160px;
  background-color: #4f4b43;
}
.section--content .specialSection--gray h3,
.section--content .specialSection--gray p {
  color: white !important;
}
.section--content .specialSection--gray .module__line {
  background-color: white !important;
}
.section--content .specialSection--yellow {
  padding: 48px 160px;
  background-color: #f5dead;
}
.section--content .specialSection .module__bgTitle {
  width: 30%;
  padding-bottom: 16px;
}
.section--content .specialSection .module__bgTitle .module__bgText {
  text-align: center;
}
.section--content .specialSection .module__horizontalIconList {
  width: 100%;
}
.section--content .specialSection .module__horizontalIconList .module__horizontalIcon {
  flex: 1;
}
.section--content .specialSection .module__horizontalIconList .module__horizontalIcon img {
  border-radius: 200px;
  background-color: #fbfbf6;
  margin-bottom: 8px;
}
.section--content .specialSection--narrow {
  padding: 48px 336px;
}
.section--content .specialSection--narrow .module__bgTitle {
  width: 100%;
  padding-bottom: 16px;
}
.section--content .specialSection--narrow .module__bgTitle .module__bgText {
  text-align: left;
}
@media (max-width: 800px) {
  .section--content .container--content {
    padding: 80px 32px 64px 32px;
  }
  .section--content .container--contentSection .module__sideTitle {
    left: 0;
    top: -40px;
    padding: 0;
    width: auto;
    border: none;
  }
  .section--content .container--contentSection .module__sideTitle .module__sideText {
    text-align: left;
  }
  .section--content .container--contentSection .module__doubleImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }
  .section--content .container--contentSection .module__doubleImage img {
    max-width: 100%;
  }
  .section--content .container--contentSection .module__horizontalIconList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .section--content .container--contentSection .module__imgAndContentBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }
  .section--content .container--contentSection .module__imgAndContentBlock img {
    width: 100%;
  }
  .section--content .specialSection {
    align-items: center;
    padding: 48px 72px;
  }
  .section--content .specialSection .module__bgTitle {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section--content .container--content {
    padding: 80px 16px 64px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }
  .section--content .container--contentSection .module__verticalIconList .module__verticalIcon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .section--content .container--contentSection .module__verticalIconList .module__verticalIcon .module__content--title {
    width: 100%;
    text-align: center;
  }
  .section--content .container--contentSection .module__bgQuote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .section--content .container--contentSection .module__bgQuote h3 {
    text-align: center;
  }
  .section--content .container--contentSection .module__bgQuote .module__callOutList {
    padding: 0;
    padding-top: 8px;
  }
  .section--content .container--contentSection .module__smQuote h6 {
    text-align: center;
    width: 100%;
  }
  .section--content .container--contentSection .module__smQuote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .section--content .container--contentSection .module__article img {
    display: none;
  }
  .section--content .specialSection {
    padding: 48px 16px;
  }
  .section--content .specialSection .module__bgTitle {
    width: 100%;
  }
}

.animate-item {
  opacity: 0;
  margin-top: 20px;
  transition: margin-top 0.6s ease-out, opacity 0.6s ease-out;
}

.animate-item.visible {
  opacity: 1;
  margin-top: 0;
}

#backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px); /* 毛玻璃效果 */
  z-index: 1;
  pointer-events: none; /* 讓這層不影響互動 */
}

/*# sourceMappingURL=workStyle.css.map */
