h1 .highlight,
h2 .highlight,
h3 .highlight,
h4 .highlight,
h5 .highlight,
h6 .highlight,
p .highlight {
  color: #c14804;
  font-weight: bold;
}

p,
li {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
@media (max-width: 48rem) {
  p,
  li {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

ol {
  padding-left: 1.5rem;
}
ol li {
  padding-left: 0.25rem;
}

h1 {
  font-family: "Noto Serif";
  font-size: 6rem;
  line-height: 1;
}
@media (max-width: 62.5rem) {
  h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 30rem) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.75rem;
  line-height: 1.2;
}
@media (max-width: 62.5rem) {
  h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 30rem) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2.25rem;
  line-height: 1.2;
}
@media (max-width: 62.5rem) {
  h3 {
    font-size: 1.875rem;
  }
}
@media (max-width: 30rem) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.75rem;
  line-height: 1.4;
}
@media (max-width: 62.5rem) {
  h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 30rem) {
  h4 {
    font-size: 1.25rem;
  }
}

h5 {
  font-size: 1.375rem;
  line-height: 1.4;
  font-weight: normal;
}
@media (max-width: 30rem) {
  h5 {
    font-size: 1.125rem;
  }
}

h6 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: normal;
}
@media (max-width: 30rem) {
  h6 {
    font-size: 1.125rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
  color: #363a35;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

.highlight {
  color: #c14804;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #7a776d;
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section {
  width: 100vw;
  padding-left: 7.5rem;
  border-bottom: #363a35 solid 0.125rem;
  background-color: #fbfbf6;
  z-index: 2;
}
.section .container--content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 4rem;
}
@media (max-width: 50rem) {
  .section {
    padding-left: 4.5rem;
  }
  .section .container--content {
    padding: 2rem;
  }
}
@media (max-width: 30rem) {
  .section {
    padding-left: 0;
  }
  .section .container--content {
    padding: 1.5rem 1rem;
    border-left: none;
  }
}

#backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3.125rem);
  z-index: 1;
  pointer-events: none;
}

.project-header {
  position: relative;
  min-height: fit-content;
  width: 100vw;
  padding-left: 7.5rem;
  border-bottom: #363a35 solid 0.125rem;
  background-color: #fbfbf6;
  z-index: 2;
}
.project-header__inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 4rem 0 0;
}
.project-header__content {
  padding-top: 4rem;
  z-index: 2;
  width: 100%;
}
.project-header__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0rem 4rem;
}
.project-header__tag {
  padding: 0.125rem 1rem;
  background-color: #cabd8a;
  width: fit-content;
  border-radius: 6.25rem;
}
.project-header__tag p {
  color: #ffffff;
}
.project-header__title {
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 0rem 4rem;
}
.project-header__metadata {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 0rem;
  border-top: #363a35 0.125rem solid;
}
.project-header__meta-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  transition-duration: 0.5s;
  padding: 1.5rem;
  flex: 1;
  border-right: #363a35 0.125rem solid;
}
.project-header__meta-item:first-child {
  padding-left: 4rem;
}
.project-header__meta-item:last-child {
  border-right: none;
}
.project-header__meta-label {
  font-weight: 600;
  color: #c14804;
}
@media (max-width: 50rem) {
  .project-header {
    padding-left: 4.5rem;
  }
  .project-header__inner {
    padding: 2rem 0 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: 3rem;
  }
  .project-header__content {
    padding-top: 5.5rem;
  }
  .project-header__tags {
    margin-bottom: 0.5rem;
  }
  .project-header__tag {
    padding: 0.125rem 0.75rem;
  }
  .project-header__title {
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 120%;
  }
  .project-header__metadata {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 0rem;
    border-top: 0rem;
  }
  .project-header__meta-item {
    padding: 1.5rem 1rem;
    border-right: none;
    border-bottom: 0.125rem solid #363a35;
  }
  .project-header__meta-item:first-child {
    padding-left: 1rem;
    border-top: 0.125rem solid #363a35;
  }
  .project-header__meta-item:last-child {
    border: none;
  }
}
@media (max-width: 30rem) {
  .project-header {
    padding-left: 0;
  }
  .project-header__inner {
    padding: 1.5rem 0;
  }
  .project-header__tags, .project-header__title {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.project-intro {
  box-sizing: border-box;
  width: 100vw;
  padding-left: 7.5rem;
  border-bottom: #363a35 solid 0.125rem;
  background-color: #fbfbf6;
  z-index: 2;
}
.project-intro__inner {
  position: relative;
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.project-intro__summary {
  border: #363a35 solid 0.125rem;
  padding: 1.5rem;
  background-color: #f8f6ed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
.project-intro__summary-title {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #7a776d;
}
.project-intro__top {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 1.5rem;
}
.project-intro__media {
  flex: 1;
}
.project-intro__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-intro__summary-grid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 1.5rem;
}
.project-intro__summary-grid .project-intro__summary {
  flex: 1;
}
.project-intro__bottom {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
}
@media (max-width: 50rem) {
  .project-intro {
    padding-left: 4.5rem;
  }
  .project-intro__inner {
    padding: 2rem;
  }
  .project-intro__top {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 1.5rem;
  }
  .project-intro__bottom {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media (max-width: 30rem) {
  .project-intro {
    padding-left: 0;
  }
  .project-intro__inner {
    padding: 1.5rem 1rem;
  }
}

.project-nav {
  position: fixed;
  z-index: 850;
  left: 0;
  top: 0;
  height: 100dvh;
  padding: 2.5rem 2.5rem;
  background-color: #fbfbf6;
  border-right: #363a35 solid 0.125rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0rem;
}
.project-nav:hover .project-nav__toc {
  max-width: 31.25rem;
}
.project-nav__group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 2.5rem;
}
.project-nav__toc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  max-width: 0.5rem;
  margin-left: 1rem;
  transition: max-width 0.25s;
  overflow: hidden;
}
.project-nav__toc .project-toc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
}
.project-nav__toc .project-toc:hover {
  opacity: 0.5;
  cursor: pointer;
}
.project-nav__item a {
  text-decoration: none;
  font-family: "Noto Sans TC";
  cursor: pointer;
}
.project-nav .project-toc__dot {
  min-width: 0.5rem;
  min-height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #c8c8c8;
}
.project-nav .project-toc__label {
  white-space: nowrap;
  color: #7a776d;
}
.project-nav .project-toc--active .project-toc__dot {
  background-color: #b74343;
}
.project-nav .project-toc--active .project-toc__label {
  color: #b74343;
  font-weight: bold;
}
@media (max-width: 50rem) {
  .project-nav {
    padding: 2.5rem 1rem;
  }
}
@media (max-width: 30rem) {
  .project-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0rem;
    padding: 1rem;
    height: 3.5rem;
    width: 100vw;
    top: 0;
    background-color: #fbfbf6;
    border-right: none;
    border-bottom: #363a35 solid 0.125rem;
  }
  .project-nav .project-nav__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  .project-nav .project-nav__item {
    margin-bottom: 0;
  }
  .project-nav .project-nav__toc {
    display: none;
  }
}

.project-translator {
  z-index: 10;
  cursor: pointer;
  background-color: #fbfbf6;
  position: fixed;
  right: 3rem;
  top: 3rem;
  border: #363a35 0.125rem solid;
  border-radius: 0.25rem;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
}
.project-translator a {
  text-decoration: none;
}
.project-translator a p {
  padding: 0.5rem 1rem;
  color: #363a35;
}
.project-translator:hover {
  background-color: #cabd8a;
}
.project-translator:hover p {
  color: #ffffff;
}
@media (max-width: 30rem) {
  .project-translator {
    top: auto;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}

.project-page__content {
  width: 100vw;
  padding-left: 7.5rem;
  border-bottom: #363a35 solid 0.125rem;
  background-color: #fbfbf6;
  z-index: 2;
}
.project-page__content [data-zoom-image]:hover {
  transform: scale(1.02);
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
}
.project-page__content-inner {
  position: relative;
  width: 100%;
  padding: 8rem 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
}
.project-page__section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
}
.project-page__section--featured {
  align-items: center;
  width: 100vw;
}
.project-page__section--featured-gray {
  padding: 3rem 10rem;
  background-color: #4f4b43;
}
.project-page__section--featured-gray .project-module__heading,
.project-page__section--featured-gray .project-module__text,
.project-page__section--featured-gray .project-module__item-title,
.project-page__section--featured-gray .project-module__item-text,
.project-page__section--featured-gray .project-module__callout-title {
  color: #ffffff !important;
}
.project-page__section--featured-gray .project-module__line {
  background-color: #ffffff !important;
}
.project-page__section--featured-yellow {
  padding: 3rem 10rem;
  background-color: #f5dead;
}
.project-page__section--narrow {
  padding: 3rem 21rem;
}
.project-page__section--narrow .project-module--section-title {
  width: 100%;
}
.project-page__section--narrow .project-module__heading {
  text-align: left;
}
@media (max-width: 50rem) {
  .project-page__content {
    padding-left: 4.5rem;
  }
  .project-page__content-inner {
    padding: 5rem 2rem 4rem;
  }
  .project-page__section--featured {
    padding: 3rem 4.5rem;
  }
}
@media (max-width: 30rem) {
  .project-page__content {
    padding-left: 0;
  }
  .project-page__content-inner {
    padding: 5rem 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7.5rem;
  }
  .project-page__section--featured {
    padding: 3rem 1rem;
  }
}

.project-module--section-title .project-module__heading {
  font-weight: normal;
  color: #363a35;
  text-align: left;
  margin-bottom: 1rem;
}
.project-module__line {
  width: 100%;
  height: 0.125rem;
  background-color: #363a35;
}
.project-module--eyebrow .project-module__eyebrow {
  font-weight: bold;
  color: #c14804;
}
.project-module--subsection-title .project-module__subheading {
  font-weight: bold;
  color: #363a35;
}
.project-module--text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.project-module__text.warning {
  background-color: rgba(183, 67, 67, 0.2);
  border-bottom: #b74343 solid 0.25rem;
}
.project-module__button {
  width: fit-content;
  padding: 0.5rem 0.75rem;
  background-color: #b74343;
}
.project-module__button a {
  text-decoration: none;
}
.project-module__button p {
  color: #ffffff;
  text-overflow: ellipsis;
}
.project-module__button:hover {
  cursor: pointer;
  background-color: #cabd8a;
}
.project-module--image img {
  width: 100%;
}
.project-module--image-pair {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}
.project-module--image-pair img {
  max-width: calc(50% - 1rem);
}
.project-module--quote p {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: rgba(209, 177, 41, 0.2);
  border-bottom: #d1b129 solid 0.25rem;
  border-radius: 0.125rem;
}
.project-module__callout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border: #7a776d 0.125rem solid;
  border-radius: 0.25rem;
  width: 100%;
}
.project-module__callout-title {
  color: #363a35;
  font-weight: bold;
}
.project-module--feature-quote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.project-module--feature-quote .project-module__heading {
  padding: 2rem 0;
}
.project-module__icon {
  width: 12.5rem;
}
.project-module__callout-list {
  padding-left: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.project-module--icon-list-vertical {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}
.project-module--icon-list-horizontal {
  width: 56.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 3rem;
}
.project-module--icon-list-vertical .project-module__item, .project-module--icon-list-horizontal .project-module__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.project-module--icon-list-vertical .project-module__item-content, .project-module--icon-list-horizontal .project-module__item-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.project-module--icon-list-vertical .project-module__item-title, .project-module--icon-list-horizontal .project-module__item-title {
  font-weight: bold;
}
.project-module--icon-list-vertical img {
  width: 12.5rem;
}
.project-module--icon-list-horizontal .project-module__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.project-module--icon-list-horizontal img {
  width: 12.5rem;
}
.project-module--icon-list-horizontal .project-module__item-title,
.project-module--icon-list-horizontal .project-module__item-text {
  text-align: center;
  width: 100%;
}
.project-module--media-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 1.5rem;
}
.project-module--media-content img {
  width: calc(40% - 1.5rem);
}
.project-module__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.project-module__list {
  padding-left: 1.5rem;
}
.project-page__section--featured .project-module--section-title {
  width: 30%;
  padding-bottom: 1rem;
}
.project-page__section--featured .project-module--section-title .project-module__heading {
  text-align: center;
}
.project-page__section--featured .project-module--icon-list-horizontal {
  width: 100%;
}
.project-page__section--featured .project-module--icon-list-horizontal img {
  border-radius: 12.5rem;
  background-color: #fbfbf6;
  margin-bottom: 0.5rem;
}
@media (max-width: 50rem) {
  .project-module--image-pair {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }
  .project-module--image-pair img {
    max-width: 100%;
  }
  .project-module--icon-list-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  .project-module--media-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  .project-module--media-content img {
    width: 100%;
  }
}
@media (max-width: 30rem) {
  .project-module--icon-list-vertical .project-module__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .project-module--icon-list-vertical .project-module__item-title {
    width: 100%;
    text-align: center;
  }
  .project-module--feature-quote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .project-module--feature-quote .project-module__heading {
    text-align: center;
  }
}

.animate-item {
  opacity: 0;
  margin-top: 1.25rem;
  transition: margin-top 0.6s ease-out, opacity 0.6s ease-out;
}

.animate-item.visible {
  opacity: 1;
  margin-top: 0;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fbfbf6;
  z-index: 9999;
  opacity: 1;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.page-loader--hidden {
  opacity: 0;
}
.page-loader dotlottie-wc {
  width: 15.625rem;
  height: 15.625rem;
}
