@use '../tokens' as *;

.section {
  position: relative;
  max-width: 100vw;
  padding-left: 7.5rem;
  box-sizing: border-box;
  background-color: $color-bgWhite;
  z-index: 2;

  .container--content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 4rem;
    border-left: $color-black solid 0.125rem;
    border-bottom: $color-black solid 0.125rem;
  }

  @media (max-width: 50rem) {
    padding-left: 5.5rem;

    .container--content {
      padding: 2rem;
    }
  }

  @media (max-width: 30rem) {
    padding-left: 0;

    .container--content {
      padding: 1.5rem 1rem;
      border-left: none;
    }
  }
}
