@import url('../../../../style/tokens.css');

.section--work .container--content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: var(--space-0);
  position: relative;
  border-bottom: 0.125rem var(--color-text) solid;
}
.section--work .container--content .block--introduction {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--space-0);
  margin-left: var(--space-5xl);
  flex: 1;
}
.section--work .container--content .block--introduction .block__header {
  position: relative;
  margin-bottom: var(--space-md);
}
.section--work .container--content .block--introduction .block__number {
  font-family: "Noto Serif";
  color: var(--color-transparent);
  margin-bottom: var(--space-xs);
  -webkit-text-stroke: 0.125rem var(--color-text-muted);
}
.section--work .container--content .block--introduction .block__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--space-0);
}
.section--work .container--content .block--introduction .block__title {
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--space-xs);
}
.section--work .container--content .block--introduction .block__tag {
  color: var(--color-text-muted);
  font-family: "Source Code Pro";
  font-weight: var(--font-weight-medium);
}
.section--work .container--content .block--introduction .block__description {
  padding-left: var(--space-md);
  border-left: var(--color-interactive) solid 0.25rem;
  margin-bottom: var(--space-3xl);
}
.section--work .container--content .block--introduction .block__buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: var(--space-md);
}
.section--work .container--content .block--introduction .block__button {
  width: 50%;
  padding: var(--space-xs) var(--space-md);
  background-color: var(--color-interactive);
  border: 0.125rem var(--color-interactive) solid;
}
.section--work .container--content .block--introduction .block__button p {
  color: var(--color-text-inverse);
}
.section--work .container--content .block--introduction .block__button a {
  text-decoration: none;
}
.section--work .container--content .block--introduction .block__button:hover {
  cursor: pointer;
  background-color: var(--color-interactive-hover);
  border: 0.125rem var(--color-interactive-hover) solid;
}
.section--work .container--content .block--introduction .block__button--code {
  width: -moz-fit-content;
  width: fit-content;
}
.section--work .container--content .block--introduction .block__button--disable {
  background-color: var(--color-text-disabled);
  border: 0.125rem var(--color-text-disabled) solid;
}
.section--work .container--content .block--introduction .block__button--disable:hover {
  cursor: default;
  background-color: var(--color-text-disabled);
}
.section--work .container--content .block--introduction .block__button--viewSite {
  color: var(--color-text-muted);
  border: 0.125rem var(--color-text-muted) solid;
  padding: var(--space-xs) var(--space-md);
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}
.section--work .container--content .block--introduction .block__button--viewSite p {
  color: var(--color-text-muted);
}
.section--work .container--content .block--introduction .block__button--viewSite:hover {
  color: var(--color-interactive-hover);
  border: 0.125rem var(--color-interactive-hover) solid;
}
.section--work .container--content .block--introduction .block__button--viewSite:hover p {
  color: var(--color-interactive-hover);
}
.section--work .container--content .media--workCover {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: var(--space-0);
}
.section--work .container--content .media--workCover .media__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section--work .container--content .block--line {
  position: absolute;
  width: calc(100% + 7.5rem);
  height: 0.125rem;
  bottom: 0;
  right: 0;
  background-color: var(--color-text);
}
.section--work .container--content {
  /* ===== Media Query ===== */
}
@media (max-width: 62.5rem) {
  .section--work .container--content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: var(--space-0);
  }
  .section--work .container--content .block--introduction {
    margin-left: var(--space-0);
  }
  .section--work .container--content .block--introduction .block__header {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    gap: var(--space-0);
    margin-bottom: var(--space-md);
  }
  .section--work .container--content .block--introduction .block__number {
    display: none;
  }
  .section--work .container--content .media--workCover {
    margin-bottom: var(--space-md);
  }
}
@media (max-width: 30rem) {
  .section--work .container--content .block--introduction .block__title {
    font-size: var(--font-size-title-md);
  }
  .section--work .container--content .block--introduction .block__buttonContainer,
  .section--work .container--content .block--introduction .block__button,
  .section--work .container--content .block--introduction .block__button--viewSite {
    width: 100%;
  }
  .section--work .container--content .block--introduction .block__button p,
  .section--work .container--content .block--introduction .block__button--viewSite p {
    text-align: center;
  }
}
.section--work .workHide {
  display: none;
}/*# sourceMappingURL=projectCard.css.map */