@use '../tokens' as *;
@use '../base/mixins' as *;

.section--about {
  .container {
    @include flex(row, center, stretch);
    position: relative;

    .media {
      flex: 1;
      margin-right: 3rem;

      .media__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .block {
      flex: 2;
      @include flex(column, flex-end, flex-start);

      &--introduction {
        .media {
          margin-bottom: 3rem;
          margin-right: 0;
        }
      }

      .block__title {
        font-family: $font-title;
        color: transparent;
        margin-bottom: 1.25rem;
        -webkit-text-stroke: 0.125rem $color-darkGold;
      }

      .block__content {
        margin-bottom: 0.5rem;
      }

      .block__jobs {
        @include flex(column, flex-start, center, 0.5rem);
        margin-top: 1rem;
        width: 100%;

        .block__jobDescription {
          width: 100%;
          @include flex(row, flex-start, center, 0.5rem);

          &--dotLine {
            border-bottom: 0.125rem dotted $color-black;
            width: 100%;
          }

          &--company,
          &--title {
            min-width: fit-content;
          }
        }

        .block__jobDescription--past {
          p {
            color: $color-gray;
          }

          .block__jobDescription--dotLine {
            border-bottom: 0.125rem dotted $color-gray;
          }
        }
      }
    }

    @media (max-width: 62.5rem) {
      @include flex(column, center, flex-start);

      .media {
        margin: 0 0 1.5rem;
      }

      .block {
        .block__jobs {
          @include flex(column, flex-start, center, 1.5rem);
          margin-top: 2rem;

          .block__jobDescription {
            @include flex(column, flex-start, flex-start, 0.25rem);

            .block__jobDescription--company {
              font-weight: bold;
            }

            .block__jobDescription--dotLine {
              display: none;
            }

            .block__jobDescription--title {
              font-style: italic;
            }
          }
        }
      }
    }

    @media (max-width: 30rem) {
      .block {
        &--introduction {
          .media {
            margin-bottom: 1.5rem;
          }
        }

        .block__title {
          -webkit-text-stroke: 0.0938rem $color-darkGold;
        }
      }
    }
  }
}

