@use '../tokens' as *;
@use '../base/mixins' as *;

.block--switcher {
  width: 100%;
  background-color: $color-bgWhite;
  top: -0.125rem;
  position: sticky;
  z-index: 1;
  box-sizing: border-box;
  border-top: 0.125rem solid $color-black;
  border-bottom: 0.125rem solid $color-black;
  border-left: 0.125rem solid $color-black;
  @include flex(row, center, center);

  a {
    width: 100%;
    text-decoration: none;
  }

  .block__design {
    border-right: 0.125rem solid $color-black;
  }

  .block__coding {
    border-right: none;
  }

  .block__design,
  .block__coding {
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: $color-bgWhite;

    h4 {
      font-family: $font-sansSerif;
      font-weight: 500;
      text-align: center;
    }
  }

  .block__design:hover,
  .block__coding:hover {
    background-color: $color-yellow;
    cursor: pointer;

    h4 {
      color: $color-bgWhite;
    }
  }

  .selected {
    background-color: $color-yellow;

    h4 {
      color: $color-bgWhite;
    }
  }

  @media (max-width: 30rem) {
    top: 3.375rem;
    border-left: none;

    .block__design,
    .block__coding {
      padding: 0.5rem 1.5rem;

      h4 {
        font-size: 1.25rem;
      }
    }
  }
}

