@use '../../style/tokens' as *;
@use '../../style/base/mixins' as *;

.nav--main {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100dvh;
  width: 7.5rem;
  padding: 2.5rem 0;
  background-color: $color-bgWhite;
  @include flex(column, space-between, center);

  .block--navList {
    @include flex(column, center, center);
  }

  .block__navItem {
    margin-bottom: 1rem;

    a {
      font-family: $font-sansSerif;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .media--socialList {
    @include flex(column, center, center);
  }

  .media__img {
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  @media (max-width: 50rem) {
    width: 5.5rem;
  }

  @media (max-width: 30rem) {
    @include flex(row, space-between, center);
    padding: 1rem;
    height: 3.5rem;
    width: 100vw;
    top: 0;
    background-color: $color-bgWhite;
    border-bottom: $color-black solid 0.125rem;

    .block--navList {
      @include flex(row, center, center);

      a {
        font-size: 1.125rem;
      }
    }

    .block__navItem {
      margin-bottom: 0;
      margin-right: 1rem;
    }

    .media--socialList {
      @include flex(row, center, center);

      a {
        @include flex(row, center, center);
      }
    }

    .media__img {
      margin-bottom: 0;
      width: 2.25rem;
      margin-left: 0.5rem;
    }
  }
}

