@use '../../tokens' as *;
@use '../../base/mixins' as *;

.project-page--pos {
  .pos-section--analysis {
    .project-module--media-aside {
      align-items: stretch;
      gap: var(--space-3xl);
    }

    .project-module__media {
      flex: 11 1 0;
    }

    .project-module__aside {
      flex: 9 1 0;
      min-width: 0;
      align-self: flex-end;
    }
  }

  .pos-section--bridge {
    .project-module--feature-quote {
      margin-inline: var(--space-auto);
    }
  }

  .pos-section--solution-intro,
  .pos-section--solution-detail,
  .pos-section--learning {
    gap: var(--space-3xl);
  }

  .pos-section--learning {
    padding-bottom: var(--space-8xl);
  }

  @media (max-width: $bp-mobile-wide) {
    .pos-section--analysis {
      .project-module__aside {
        align-self: stretch;
      }
    }
  }

  @media (max-width: $bp-tablet) {
    .pos-section--analysis {
      .project-module__aside {
        align-self: stretch;
      }
    }
  }
}

.project-page--keepwell {
  .keepwell-section--problem {
    .project-module__callout-list {
      flex-direction: column;
      align-items: stretch;
    }
  }
}
