@use "../../style/variables.scss" as *;

@mixin flex($flexDirection, $justifyContent, $alignItems, $gap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}
.nav--main {
  position: fixed;
  z-index: 850;
  left: 0;
  top: 0;
  height: 100dvh;
  padding: 40px 40px;
  background-color: $color-bgWhite;
  border-right: $color-black solid 2px;
  @include flex(column, space-between, flex-start, 0px);
  &:hover {
    .block--tocList {
      max-width: 500px;
    }
  }
  .block--navList {
    @include flex(column, center, center, 16px);
    width: 40px;
  }
  .block--tocList {
    @include flex(column, center, flex-start, 16px);
    max-width: 8px;
    margin-left: 16px;
    transition: max-width 0.25s;
    overflow: hidden;
    .toc {
      @include flex(row, flex-start, center, 16px);
      text-decoration: none;
      &--dot {
        min-width: 8px;
        min-height: 8px;
        border-radius: 4px;
        background-color: $color-gray;
      }
      &--content {
        white-space: nowrap;
        color: $color-darkGold;
      }
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      &--focus {
        .toc--dot {
          background-color: $color-red;
        }
        .toc--content {
          color: $color-red;
          font-weight: bold;
        }
      }
    }
  }
  .block__navItem {
    a {
      text-decoration: none;
      font-family: $font-sansSerif;
      cursor: pointer;
    }
  }

  @media (max-width: 800px) {
    padding: 40px 16px;
  }

  @media (max-width: 480px) {
    @include flex(row, space-between, center, 0px);
    padding: 16px;
    height: 56px;
    width: 100vw;
    top: 0;
    background-color: $color-bgWhite;
    border-right: none;
    border-bottom: $color-black solid 2px;

    .block--navList {
      @include flex(row, center, center, 16px);
    }

    .block__navItem {
      margin-bottom: 0;
    }
    .block--tocList {
      display: none;
    }
  }
}
