@use '../../tokens' as *;

* {
  margin: 0;
  padding: 0;
  font-family: $font-sansSerif;
  color: $color-black;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

.highlight {
  color: $color-darkOrange;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
