@use '../../tokens' as *;
@use '../../base/mixins' as *;

// ========================================
// Utility / Loading
// ========================================

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-bgWhite;
  z-index: 9999;
  opacity: 1;
  transition: 1s;
  @include flex(row, center, center, 0);

  &--hidden {
    opacity: 0;
  }

  dotlottie-wc {
    width: 15.625rem;
    height: 15.625rem;
  }
}

