@use '../../mixins' as *;

// ========================================
// Utility / Loading
// ========================================

.page-loader {
  @include full-page-loader;

  &--hidden {
    opacity: 0;
  }

  dotlottie-wc {
    width: 15.625rem;
    height: 15.625rem;
  }
}
