@use '../../tokens' as *;
@use '../../base/mixins' as *;

.project-intro {
  box-sizing: border-box;
  width: 100vw;
  padding-left: 7.5rem;
  border-bottom: $color-black solid 0.125rem;
  background-color: $color-bgWhite;
  z-index: 2;

  &__inner {
    position: relative;
    width: 100%;
    padding: 4rem;
    @include flex(column, center, center, 1.5rem);
  }

  &__summary {
    border: $color-black solid 0.125rem;
    padding: 1.5rem;
    background-color: $color-lightYellow;
    width: 100%;
    height: 100%;
    @include flex(column, flex-start, flex-start, 0);
  }

  &__summary-title {
    margin-bottom: 1rem;
    font-weight: bold;
    color: $color-darkGold;
  }

  &__top {
    @include flex(row, center, stretch, 1.5rem);
  }

  &__media {
    flex: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__summary-grid {
    flex: 1;
    @include flex(column, center, stretch, 1.5rem);

    .project-intro__summary {
      flex: 1;
    }
  }

  &__bottom {
    @include flex(row, center, stretch, 1.5rem);
    width: 100%;

    .project-intro__summary {
      flex: 1;
    }
  }

  @media (max-width: 50rem) {
    padding-left: 4.5rem;

    &__inner {
      padding: 2rem;
    }

    &__top {
      @include flex(column, center, stretch, 1.5rem);
    }

    &__bottom {
      @include flex(column, center, stretch, 1.5rem);
    }
  }

  @media (max-width: 30rem) {
    padding-left: 0;

    &__inner {
      padding: 1.5rem 1rem;
    }
  }
}
