@use '../../tokens' as *;
@use '../../base/mixins' as *;

.project-header {
  position: relative;
  min-height: fit-content;
  width: 100vw;
  padding-left: 7.5rem;
  border-bottom: $color-black solid 0.125rem;
  background-color: $color-bgWhite;
  z-index: 2;

  &__inner {
    @include flex(row, flex-start, flex-end, 2rem);
    position: relative;
    height: 100%;
    width: 100%;
    padding: 4rem 0 0;
  }

  &__content {
    padding-top: 4rem;
    z-index: 2;
    width: 100%;
  }

  &__tags {
    @include flex(row, flex-start, center, 0.5rem);
    margin-bottom: 1rem;
    padding: 0rem 4rem;
  }

  &__tag {
    padding: 0.125rem 1rem;
    background-color: $color-yellow;
    width: fit-content;
    border-radius: 6.25rem;

    p {
      color: $color-textWhite;
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 0rem 4rem;
  }

  &__metadata {
    @include flex(row, center, stretch, 0rem);
    border-top: $color-black 0.125rem solid;
  }

  &__meta-item {
    @include flex(column, flex-start, flex-start, 0.5rem);
    transition-duration: 0.5s;
    padding: 1.5rem;
    flex: 1;
    border-right: $color-black 0.125rem solid;

    &:first-child {
      padding-left: 4rem;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__meta-label {
    font-weight: 600;
    color: $color-darkOrange;
  }

  @media (max-width: 50rem) {
    padding-left: 4.5rem;

    &__inner {
      padding: 2rem 0 1.5rem;
      @include flex(column, flex-end, flex-end, 3rem);
    }

    &__content {
      padding-top: 5.5rem;
    }

    &__tags {
      margin-bottom: 0.5rem;
    }

    &__tag {
      padding: 0.125rem 0.75rem;
    }

    &__title {
      font-weight: 500;
      margin-bottom: 1.5rem;
      font-size: 2.25rem;
      line-height: 120%;
    }

    &__metadata {
      @include flex(column, center, stretch, 0rem);
      border-top: 0rem;
    }

    &__meta-item {
      padding: 1.5rem 1rem;
      border-right: none;
      border-bottom: 0.125rem solid $color-black;

      &:first-child {
        padding-left: 1rem;
        border-top: 0.125rem solid $color-black;
      }

      &:last-child {
        border: none;
      }
    }
  }

  @media (max-width: 30rem) {
    padding-left: 0;

    &__inner {
      padding: 1.5rem 0;
    }
  }
}
