@use '../../tokens' as *;
@use '../../base/mixins' as *;

.project-module {
  &--quote {
    max-width: none;

    p {
      width: 100%;
      font-family: $font-sansSerif;
      padding: var(--space-xs) var(--space-md);
      font-weight: var(--font-weight-bold);
      background-color: var(--color-accent-subtle);
      border-bottom: $color-lightGold solid 0.125rem;
      border-radius: var(--radius-none);
    }

    .project-module__nda-note {
      background-color: var(--color-interactive-subtle);
      border-bottom-color: $color-red;
      color: $color-red;
    }
  }

  &__callout {
    @include flex(column, center, flex-start, var(--space-xs));
    padding: var(--space-sm) var(--space-md);
    border: $color-darkGold 0.125rem solid;
    border-radius: var(--radius-sm);
    width: 100%;
  }

  &__callout-title {
    color: $color-black;
    font-weight: var(--font-weight-bold);
  }

  &--feature-quote {
    @include flex(row, flex-start, center, var(--space-md));
    background-color: var(--color-transparent);

    .project-module__heading {
      font-family: $font-serifText;
      padding: var(--space-3xl) var(--space-0);
    }
  }

  &__icon {
    width: 12.5rem;
  }

  &__callout-list {
    padding-left: var(--space-xs);
    @include flex(column, flex-start, center, var(--space-md));
  }

  @media (max-width: $bp-mobile) {
    &--feature-quote {
      @include flex(column, flex-start, center, var(--space-md));

      .project-module__heading {
        text-align: center;
      }
    }
  }
}
